.App {
  text-align: center;
}

.ul-link {
    list-style: none;
}

#main-nav {
    height: 65px;;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 50px;
}

.App-learn {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#detail-p {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
}

#title {
    font-family: 'Copse', sans-serif;
}

#set-code {
    width: 500px;
}

#img-poke-name {
    width: 100px;
    height: 100px;
}

#img-detail {
    width: 500px;
}

#poke-detail {
    width: 1000px;
    height: 600px;
}

#avatar {
    width: 200px;
    height: 200px;
}

#user-h1 {
    font-family: 'Roboto Slab', sans-serif;
}

.App-header {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("https://pokemontcg.io/assets/images/pokemon-minimalist-30bc8a16a6a63e980a4e06c11a66638b.png");
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 0 15px;
}

#ul-nav {
    width: 570px;
}

.nav-btn {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
}

.nav-item {
    color: white !important;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
